<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" id="gotop">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet" type="text/css"/>
    <title>Welcome to Memo!</title>
</head>
<div class="content">
    <h1>Welcome to Memo!</h1>
    <div class="welcome-box"><a th:href="'/registration'"><input class="btn-style" type="button" value="Sign up"></a>
        <a th:href="'/login'"><input class="btn-style" type="button" value="Log in"></a></div>
</div>
<body>

</body>
</html>